div {
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
}
// Hide placeholder text on focus
input:focus::placeholder { color:transparent; }

input:focus {
  outline: none;
  border: 1px solid #30b05d;
  box-shadow: 0 0 3px rgba(0, 224, 79, 1);
}

a {
  text-decoration: none;
  &:visited {
    color: #0000ee;
  }
}
button, .btn, a.btn {
  background: #30b05d;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-size: 18px;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
}
button:hover, a.btn:hover, a.btn:focus, button:focus  {
  background: #00e04f;
  outline: 0;
}
.nav-bar {
  background-color: #f8f8f8;
  border-bottom: 1px solid #ccc;
  font-size: 20px;
  height: 70px;
  padding: 10pt 20pt;

  // @todo clearfix hack, move to mixin with hoisting https://gist.github.com/geddski/2416187
  zoom: 1;
  &:before, &:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
  &:after { clear: both; }
}
.nav-link-list {
  float: left;
  a {
    margin-right: 15px;
  }
}
.nav-site-name {
  font-family: "Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;
  font-size: 24px;
  font-style: italic;
  margin-right: 30px !important;
}

.nav-join-meeting {
  float: right;
  height: 45px;
  .meeting-id {
    border: 1px solid #ccc;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    font-size: 15px;
    padding: 12px;
    width: 120px;
    height: 42px;
    margin-top: -1px;
  }
  button {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    height: 42px;
  }
  div {
    float: left;
    margin-left: 10px;
  }
  .join-text {
    line-height: 42px;
  }
  .alert-box {
    margin-right: 0;
  }
}
.meeting-id {
  font-family: "Lucida Console","Lucida Sans Typewriter",monaco,"Bitstream Vera Sans Mono",monospace
}

