.meeting-info {
  text-align: center;

  .meeting-name {
    font-family: "Arial Black","Arial Bold",Gadget,sans-serif;
    font-size: 35px;
    font-weight: bold;
    padding: 25px;
  }
  .meeting-controls {
    padding: 25px;
  }
}


.share-meeting {
  margin-top: 100px;
  padding-right: 20px;
  text-align: right;
  .copy-to-clipboard {
    background-color: #eee;
    border: 2px solid #ddd;
    border-radius: 2px;
    cursor: pointer;
    font-size: 20px;
    padding: 0 2px;
  }
}
