.meeting-info {
  text-align: center;

  .meeting-name {
    font-family: "Arial Black","Arial Bold",Gadget,sans-serif;
    font-size: 30pt;
    font-weight: bold;
    padding: 20pt;
  }
  .meeting-controls {
    padding: 20pt;
  }
}


.share-meeting {
  margin-top: 100px;
  text-align: right;
}
.meeting-id {
  font-family: "Lucida Console","Lucida Sans Typewriter",monaco,"Bitstream Vera Sans Mono",monospace
}
