.block-letters {
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  font-size: 50px;
  margin: 20px;
}

.block-letter {
  background-color: #000;
  border-radius: 7px;
  color: #fff;
  line-height: 1em;
  margin: 1px;
  padding: 4px 6px 3px 6px;
}

@media only screen and (max-width: 767px) {
  .block-letters {
    font-size: 25px;
    margin: 15px;
  }
}
