.block-letters {
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  font-size: 40pt;
  margin: 15pt;
}

.block-letter {
  background-color: #000;
  border-radius: 7px;
  color: #fff;
  line-height: 1em;
  margin: 2pt;
  padding: 2pt 5pt;
}
