@import helper._
@import views.formdata.MeetingFormData
@(meetingId: String)

@scripts = {
    <script type="text/javascript">
      var meetingId = "@meetingId";
    </script>
}

@main("Meeting", scripts) {

    <table>
        <tr><th>Name:</th><td id="name"></td></tr>
        <tr><th>Participants:</th><td id="participants"></td></tr>
        <tr><th>Time Elapsed:</th><td id="timeElapsed"></td></tr>
        <tr><th>Meeting Cost:</th><td id="cost"></td></tr>
        <tr><th>Opportunity Cost:</th><td>Priceless!</td></tr>

    </table>

    <p>
        <input type="button" value="Stop Meeting">
        This stops it for everyone and there is no restart, so don't screw around!
    </p>

    <p>
        Share this meeting!
        <a href="@routes.Application.m(meetingId)">@routes.Application.m(meetingId)</a>
    </p>
}

